@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

p {
  line-height: 1.8;
  color: hsl(238, 22%, 44%);
  font-size: 15px;
}

.btn {
  background-color: #2f65f9;
}
.btn:hover{
  background-color: #6b9bff;
}

li button {
  color: hsl(238, 22%, 44%);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

button {
  font-family: "Raleway", sans-serif !important;
}

.link {
  color: hsl(170, 45%, 43%);
}
.link:hover {
  color:#bfe2df;
}

.cta {
  background-color: hsl(238, 22%, 44%);
}

footer {
  background-color: hsl(243, 87%, 12%);
}

.attribute{
  background-color: hsl(243, 87%, 12%);
  text-align: center;
  color: white;

}

.logo{
  width:auto;
}
@media (min-width: 1024px) {
  p {
    font-size: 16px;
  }
}
@media (max-width:640px){
  li button {
    color: hsl(238, 22%, 44%);
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;

}
.logo{
  max-width: 67%;
}
}
@media (max-width:350px){
  li button {
    color: hsl(238, 22%, 44%);
    font-size: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;

}

}